CREATE DATABASE [QLTaiXe]
GO
USE [QLTaiXe]
GO
/****** Object:  Table [dbo].[ChuyenXe]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenXe](
	[MaChuyen] [varchar](10) NOT NULL,
	[HangXe] [nvarchar](50) NULL,
	[GiaVe] [bigint] NULL,
	[MaTuyen] [varchar](10) NULL,
 CONSTRAINT [PK_ChuyenXe] PRIMARY KEY CLUSTERED 
(
	[MaChuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[Thang] [int] NULL,
	[GioDi] [datetime] NULL,
	[GioDen] [datetime] NULL,
	[NoiDi] [nvarchar](100) NULL,
	[NoiDen] [nvarchar](100) NULL,
	[MaChuyen] [varchar](10) NULL,
 CONSTRAINT [PK_LichTrinh] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[CMND] [varchar](12) NULL,
	[DienThoai] [varchar](11) NULL,
	[KhaNangLai] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [varchar](20) NULL,
	[MaPQ] [int] NULL,
	[MaTo] [int] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhom]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom](
	[MaTo] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[ToTruong] [varchar](10) NULL,
 CONSTRAINT [PK_To] PRIMARY KEY CLUSTERED 
(
	[MaTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPQ] [int] IDENTITY(1,1) NOT NULL,
	[TenPQ] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrang]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrang](
	[MaTinhTrang] [bit] NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrang] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenDuong]    Script Date: 22/07/2017 11:36:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenDuong](
	[MaTuyen] [varchar](10) NOT NULL,
	[TenTuyen] [nvarchar](50) NULL,
	[KhoangCach] [bigint] NULL,
 CONSTRAINT [PK_TuyenDuong] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenXe] ([MaChuyen], [HangXe], [GiaVe], [MaTuyen]) VALUES (N'C000001', N'Hoàng Long', 620000, N'TD00001')
INSERT [dbo].[ChuyenXe] ([MaChuyen], [HangXe], [GiaVe], [MaTuyen]) VALUES (N'C000002', N'Mai Linh', 715000, N'TD00001')
INSERT [dbo].[ChuyenXe] ([MaChuyen], [HangXe], [GiaVe], [MaTuyen]) VALUES (N'C000003', N'Phượng Hoàng', 890000, N'TD00001')
SET IDENTITY_INSERT [dbo].[LichTrinh] ON 

INSERT [dbo].[LichTrinh] ([MaLich], [MaNV], [Thang], [GioDi], [GioDen], [NoiDi], [NoiDen], [MaChuyen]) VALUES (1, N'NV00007', 7, CAST(N'2017-07-09T07:00:00.000' AS DateTime), CAST(N'2017-07-10T17:00:00.000' AS DateTime), N'Hồ Chí Minh', N'Hà Nội', N'C000001')
INSERT [dbo].[LichTrinh] ([MaLich], [MaNV], [Thang], [GioDi], [GioDen], [NoiDi], [NoiDen], [MaChuyen]) VALUES (2, N'NV00018', 7, CAST(N'2017-07-16T09:00:00.000' AS DateTime), CAST(N'2017-07-18T05:50:00.000' AS DateTime), N'Bến xe Miền Đông', N'Bến xe Nước Ngầm', N'C000002')
INSERT [dbo].[LichTrinh] ([MaLich], [MaNV], [Thang], [GioDi], [GioDen], [NoiDi], [NoiDen], [MaChuyen]) VALUES (3, N'NV00028', 7, CAST(N'2017-07-11T08:00:00.000' AS DateTime), CAST(N'2017-07-12T14:00:00.000' AS DateTime), N'Bến xe Miền Đông', N'Bến xe Nước Ngầm', N'C000003')
SET IDENTITY_INSERT [dbo].[LichTrinh] OFF
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [CMND], [DienThoai], [KhaNangLai], [Username], [Password], [MaPQ], [MaTo], [TinhTrang]) VALUES (N'NV00001', N'Nguyễn Đức Đông', N'36/17, Nguyễn Du, P.7, Q.Gò Vấp', N'093824763646', N'01675986916', NULL, N'1642015', N'123456', 3, NULL, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [CMND], [DienThoai], [KhaNangLai], [Username], [Password], [MaPQ], [MaTo], [TinhTrang]) VALUES (N'NV00002', N'Đỗ Minh Thiện', N'4, Nguyễn Thái Học, P.9, Q.8', N'022327462374', N'0908764534', NULL, N'1642068', N'123456', 2, NULL, 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [DiaChi], [CMND], [DienThoai], [KhaNangLai], [Username], [Password], [MaPQ], [MaTo], [TinhTrang]) VALUES (N'NV00003', N'Lâm Thiên Hưng', N'3, An Dương Vương, P.5, Q.5', N'022347263743', N'0908432434', 120, N'1642027', N'123456', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Nhom] ON 

INSERT [dbo].[Nhom] ([MaTo], [NgayLap], [ToTruong]) VALUES (1, CAST(N'2017-07-06' AS Date), N'NV00003')
INSERT [dbo].[Nhom] ([MaTo], [NgayLap], [ToTruong]) VALUES (2, CAST(N'2017-07-06' AS Date), N'NV00013')
INSERT [dbo].[Nhom] ([MaTo], [NgayLap], [ToTruong]) VALUES (3, CAST(N'2017-07-06' AS Date), N'NV00023')
SET IDENTITY_INSERT [dbo].[Nhom] OFF
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaPQ], [TenPQ]) VALUES (1, N'Tài xế')
INSERT [dbo].[PhanQuyen] ([MaPQ], [TenPQ]) VALUES (2, N'Quản lí')
INSERT [dbo].[PhanQuyen] ([MaPQ], [TenPQ]) VALUES (3, N'Quản trị')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
INSERT [dbo].[TinhTrang] ([MaTinhTrang], [TenTinhTrang]) VALUES (0, N'Unlock')
INSERT [dbo].[TinhTrang] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Lock')
INSERT [dbo].[TuyenDuong] ([MaTuyen], [TenTuyen], [KhoangCach]) VALUES (N'TD00001', N'Thành phố Hồ Chí Minh - Hà Nội', 1573)
INSERT [dbo].[TuyenDuong] ([MaTuyen], [TenTuyen], [KhoangCach]) VALUES (N'TD00002', N'Thành phố Hồ Chí Minh - Đà Lạt', 304)
INSERT [dbo].[TuyenDuong] ([MaTuyen], [TenTuyen], [KhoangCach]) VALUES (N'TD00003', N'Thành phố Hồ Chí Minh - Nha Trang', 449)
ALTER TABLE [dbo].[ChuyenXe]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenXe_TuyenDuong] FOREIGN KEY([MaTuyen])
REFERENCES [dbo].[TuyenDuong] ([MaTuyen])
GO
ALTER TABLE [dbo].[ChuyenXe] CHECK CONSTRAINT [FK_ChuyenXe_TuyenDuong]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChuyenXe] FOREIGN KEY([MaChuyen])
REFERENCES [dbo].[ChuyenXe] ([MaChuyen])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChuyenXe]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhanQuyen] FOREIGN KEY([MaPQ])
REFERENCES [dbo].[PhanQuyen] ([MaPQ])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhanQuyen]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TinhTrang] FOREIGN KEY([TinhTrang])
REFERENCES [dbo].[TinhTrang] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TinhTrang]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_To] FOREIGN KEY([MaTo])
REFERENCES [dbo].[Nhom] ([MaTo])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_To]
GO
ALTER TABLE [dbo].[Nhom]  WITH CHECK ADD  CONSTRAINT [FK_To_NhanVien] FOREIGN KEY([ToTruong])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Nhom] CHECK CONSTRAINT [FK_To_NhanVien]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã chuyến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChuyenXe', @level2type=N'COLUMN',@level2name=N'MaChuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hãng xe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChuyenXe', @level2type=N'COLUMN',@level2name=N'HangXe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá vé' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChuyenXe', @level2type=N'COLUMN',@level2name=N'GiaVe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã tuyến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChuyenXe', @level2type=N'COLUMN',@level2name=N'MaTuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã lịch' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'MaLich'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'MaNV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tháng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'Thang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giờ đi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'GioDi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giờ đến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'GioDen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nơi đi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'NoiDi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nơi đến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'NoiDen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã chuyến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LichTrinh', @level2type=N'COLUMN',@level2name=N'MaChuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'MaNV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Họ tên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'HoTen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'DiaChi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CMND' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'CMND'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Điện thoại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'DienThoai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khả năng lái' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'KhaNangLai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên đăng nhập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'Username'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phân quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'MaPQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tình trạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien', @level2type=N'COLUMN',@level2name=N'TinhTrang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã tổ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Nhom', @level2type=N'COLUMN',@level2name=N'MaTo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày lập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Nhom', @level2type=N'COLUMN',@level2name=N'NgayLap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tổ trưởng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Nhom', @level2type=N'COLUMN',@level2name=N'ToTruong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã phân quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhanQuyen', @level2type=N'COLUMN',@level2name=N'MaPQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên phân quyền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhanQuyen', @level2type=N'COLUMN',@level2name=N'TenPQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã tình trạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TinhTrang', @level2type=N'COLUMN',@level2name=N'MaTinhTrang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên tình trạng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TinhTrang', @level2type=N'COLUMN',@level2name=N'TenTinhTrang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã tuyến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TuyenDuong', @level2type=N'COLUMN',@level2name=N'MaTuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên tuyến' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TuyenDuong', @level2type=N'COLUMN',@level2name=N'TenTuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khoảng cách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TuyenDuong', @level2type=N'COLUMN',@level2name=N'KhoangCach'
GO
